<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Black Jack</title>
	<link rel="stylesheet" href="./style/main.css">
	<script src="./bower_components/jquery/dist/jquery.js"></script>
	<script src="./bower_components/socket.io-client/dist/socket.io.js"></script>
	<script src="./scripts/lib/cards.js"></script>
	<script src="./scripts/lib/blackjack.js"></script>
	<script src="./scripts/lib/main.js"></script>
</head>
	<body>
		<div id="wrapper">
				<h1>Black Jack!</h1>
				<h2>Dealer's hand</h2>
				<div id="dealer">
				</div>
				<h2>Player's hand</h2>
				<div id="player">
				</div>
				<h3 id="score"></h3>
				<input id="hitButton" type="button" value="Hit">
				<input id="stayButton" type="button" value="Stay">
				<input id="newButton" type="button" value="New Game">
		</div>
	</body>
</html>